* {
  cursor: url('https://cdn.jsdelivr.net/gh/yangyufeng96/assets_source/blog/img/mouse.cur'), auto!important;
}
.aboutme .group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 25px;
  }
}